html,
body,
#root {
  height: 100%;
}
*::-webkit-scrollbar {
  height: 5px;
  width: 6px;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: #e6eaf2;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  height: 20px;
  background: rgb(137, 172, 185);;
  border-radius: 15px;
}